$tansition-duration: 1s;

.boxTitle {
    background-color:rgb(210, 255, 255);
    height: 100%;
    width: 100%;
    position: absolute;
}

.title {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1024px) {
    .title {
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;

        transition-duration: $tansition-duration;
        transition-property: transform;
        transition-timing-function: linear;
        transform: translateX(0) translateY(0);
        transform-origin: center right;

        &.open {
            transform: translateX(-22%) translateY(-17%);
        }
    }
}

@media (max-width: 768px) {
    .title {
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 2em;

        transition-duration: $tansition-duration;
        transition-property: transform;
        transition-timing-function: linear;
        transform: translateX(0) translateY(0);
        transform-origin: center right;

        &.open {
            transform: translateX(-22%) translateY(-17%);
        }
    }
}

@media (max-width: 600px) {
    .title {
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.5em;

        transition-duration: $tansition-duration;
        transition-property: transform;
        transition-timing-function: linear;
        transform: translateX(0) translateY(0);
        transform-origin: center right;

        &.open {
            transform: translateX(-20%) translateY(-17%);
        }
    }
}

@media (max-width: 450px) {
    .title {
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.2em;

        transition-duration: $tansition-duration;
        transition-property: transform;
        transition-timing-function: linear;
        transform: translateX(0) translateY(0);
        transform-origin: center right;

        &.open {
            transform: translateX(-20%) translateY(-17%);
        }
    }
}

@media (max-width: 375px) {
    .title {
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.2em;

        transition-duration: $tansition-duration;
        transition-property: transform;
        transition-timing-function: linear;
        transform: translateX(0) translateY(0);
        transform-origin: center right;

        &.open {
            transform: translateX(-12%) translateY(-17%);
        }
    }
}

@media (max-width: 320px) {
    .title {
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.1em;

        transition-duration: $tansition-duration;
        transition-property: transform;
        transition-timing-function: linear;
        transform: translateX(0) translateY(0);
        transform-origin: center right;

        &.open {
            transform: translateX(-8%) translateY(-17%);
        }
    }
}